<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <div class="page-container">
            <header>
                <h1>Hello, World!</h1>
            </header>
            <section class="details"></section>
            <section class="departments">
                <h3>Departments</h3>
            </section>
            <section class="cars">
                <h3>Car Inventory</h3>
            </section>
            <footer></footer>
        </div>
    </body>
</html>